@page "/logout"

@inject JwtAuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<p>Logging out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthStateProvider
            .MarkUserAsLoggedOutAsync();

        Navigation.NavigateTo(
            "/login",
            forceLoad: true);
    }
}